.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, .5rem);
    padding-left: var(--bs-gutter-x, .5rem);
    margin-right: auto;
    margin-left: auto;
}